<a href="/">avaleht</a>
<!-- <a href="/yritused">üritused</a> -->
<!-- <a href="/tarkvara">tarkvara</a> -->
<!-- <a href="/teenused">teenused</a> -->
<a href="/kontakt">kontakt</a>
<a href="/en/">in english</a>
