<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} | GLUG</title>
        <link type="text/css" rel="stylesheet" href="fonts.css" />
        <link type="text/css" rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Tartu GNU/Linux User Group ehk GLUG Tartu on organisatsioon, mis ühendab Tartu ja Eesti GNU/Linuxi kasutajaid ning levitab vaba tarkvara, federeeritud teenuste ja privaatsuse ideid.">
        <meta name="keywords" content="GLUG, GLUG Tartu, GNU/Linux User Group, GNU/Linux, Linux, free software, vaba tarkvara, vabavara, privaatsus, privacy, federated services, federeeritud teenused, privacy, privaatsus, Tartu Ülikool, University of Tartu, TÜ, UT">
        <meta name="author" content="GLUG">

        <!-- https://realfavicongenerator.net/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- https://moz.com/blog/meta-data-templates-123 -->
        <meta property="og:title" content="Tartu GNU/Linux User Group"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://glug.ee/"/>
        <meta property="og:image" content="https://glug.ee/android-chrome-512x512.png"/>
        <meta property="og:description"
              content="Tartu GNU/Linux User Group ehk GLUG Tartu on organisatsioon, mis ühendab Tartu ja Eesti GNU/Linuxi kasutajaid ning levitab vaba tarkvara, federeeritud teenuste ja privaatsuse ideid."/>
    </head>
    <body>
        <aside>
            <a href="/"><img class="logo" src="/glug.svg"></a>
            <nav>
                <a href="/">avaleht</a>
                <a href="/miks-gnu-linux.html">miks gnu/linux üle windowsi?</a>
                <a href="/vaba-tarkvara.html">vaba tarkvara</a>
                <a href="/federeeritud-teenused.html">federeeritud teenused</a>
                <a href="/deguugeldamine.html">deguugeldamine</a>
                <a href="/privaatsus.html">privaatsus</a>
                <a href="/galerii.html">galerii</a>
                <a href="/liitu.html">liitu meiega!</a>
            </nav>
            <footer>
                copyleft 2020
                <pre id="toilet">
  _____ _     _    _  _____ 
 / ____| |   | |  | |/ ____|
| |  __| |   | |  | | |  __ 
| | |_ | |   | |  | | | |_ |
| |__| | |___| |__| | |__| |
 \_____|______\____/ \_____|
                </pre>
                all wrongs reversed
            </footer>
        </aside>
        <main>
            <section>
                {{ body }}
            </section>
        </main>
        <header><a href="/"><img class="logo" src="/glug.svg"></a></header>
    </body>
</html>
