<h1>Kontakt</h1>
<h2>E-post</h2>
<p>Meiega saab ühendust võtta meiliaadressi <a href="mailto:glugtartu@pm.me">glugtartu@pm.me</a> kaudu.</p>
<h2>Matrix</h2>
<p>
  Me põhiliselt vestleme Matrixis:
  <a href="https://matrix.to/#/#glug-tartu:matrix.org">https://matrix.to/#/#glug-tartu:matrix.org</a>.
</p>
<p>Tule ja liitu!</p>
