<h1>Tarkvara</h1>
<p>GLUG Tartu liikmed kasutavad ja soovitavad kasutada järgnevat vaba tarkvara.</p>

<h2>Laua- ja sülearvuti tarkvara</h2>
<h3>Operatsioonisüsteemid</h3>
<ul>
  <li><a href="https://www.archlinux.org/">Arch Linux</a></li>
  <li><a href="https://ubuntu.com/">Ubuntu</a></li>
  <li><a href="https://debian.org/">Debian</a></li>
</ul>
<h3>Kommunikatsioon</h3>
<ul>
  <li><a href="https://signal.org/">Signal</a></li>
  <li>
    <a href="https://element.io/">Element</a> läbi <a href="https://matrix.org/">Matrixi protokolli</a>. Loe lähemalt
    <a href="/teenused">teenuste lehelt</a>.
  </li>
</ul>
<h3>Veebilehitsejad</h3>
<ul>
  <li><a href="https://firefox.com/">Firefox</a></li>
  <li><a href="https://www.torproject.org/">Tor Browser</a></li>
</ul>
<h3>Programmeerimine</h3>
<ul>
  <li><a href="https://www.vim.org/">vim</a></li>
  <li><a href="https://neovim.io/">Neovim</a></li>
  <li><a href="https://www.gnu.org/software/emacs/">Emacs</a></li>
  <li><a href="https://vscodium.com/">VSCodium</a></li>
</ul>
<h3>Pilditöötlus</h3>
<ul>
  <li><a href="https://gimp.org/">GIMP</a></li>
  <li><a href="https://inkscape.org/">Inkscape</a></li>
  <li><a href="https://krita.org/">Krita</a></li>
</ul>
<h3>Videotöötlus</h3>
<ul>
  <li><a href="https://kdenlive.org/en/">Kdenlive</a></li>
  <li><a href="https://www.olivevideoeditor.org/">Olive</a></li>
</ul>

<h2>Telefonitarkvara</h2>
<h3>Operatsioonisüsteemid</h3>
<ul>
  <li><a href="https://www.lineageos.org/">LineageOS</a></li>
  <li><a href="https://grapheneos.org/">GrapheneOS</a></li>
  <li><a href="https://calyxos.org/">CalyxOS</a></li>
  <li><a href="https://ubuntu-touch.io/">Ubuntu Touch</a></li>
  <li><a href="https://mobian-project.org/">Mobian</a></li>
  <li><a href="https://www.plasma-mobile.org/">Plasma Mobile</a></li>
  <li><a href="https://postmarketos.org/">PostmarketOS</a></li>
  <li><a href="https://e.foundation/">/e/</a></li>
</ul>
<h3>Rakendushoidlad</h3>
<ul>
  <li><a href="https://f-droid.org/">F-Droid</a></li>
  <li><a href="https://f-droid.org/en/packages/com.aurora.store/">Aurora Store</a></li>
</ul>
<h3>aaa</h3>
<ul>
  <li></li>
</ul>
<h3>aaa</h3>
<ul>
  <li></li>
</ul>
<h3>aaa</h3>
<ul>
  <li></li>
</ul>
<h3>aaa</h3>
<ul>
  <li></li>
</ul>
