<h1>Tartu GNU/Linux User Group</h1>

<h2>Tere tulemast GLUG Tartu kodulehele!</h2>
<p>
  Oleme väike kogukond GNU/Linuxifännidest ja vabavara huvilistest Tartus. Tegeleme vaba tarkvaraga, fediteenustega,
  privaatsusega jne.
</p>
<p>Praegu võtame pigem rahulikult, aga plaanime tulevikus aktiivsemalt uusi liikmeid otsida ja üritusi korraldada.</p>

<h2>Tegevused</h2>
<p>
  Praegu veel vaid arutame ja jagame meeme <a href="https://matrix.to/#/#glug-tartu:matrix.org">Matrixi grupis</a>, aga
  tulevikus on sellised plaanid:
</p>
<ul>
  <li>Saame kokku ja arutame vabavaraga seotud teemadel.</li>
  <li>Katsetame ja kasutame aktiivselt erinevaid vabavaralisi lahendusi.</li>
  <li>Arendame ja toetame vabavaralisi projekte.</li>
  <li>
    Teeme LAN-i pidusid vabade GNU/Linuxi mängudega: <a href="http://www.openarena.ws/smfnews.php">OpenArena</a>,
    <a href="https://www.minetest.net/">Minetest</a>, <a href="https://www.teeworlds.com/">TeeWorlds</a>,
    <a href="https://supertuxkart.net/Main_Page">SuperTuxKart</a> ja muud.
  </li>
</ul>
<h2>Võta ühendust ja liitu meiega!</h2>
<p>
  Kui sulle tunduvad meie tegevused huvitavad, võta meiega ühendust meiliaadressi
  <a href="mailto:glugtartu@pm.me">glugtartu@pm.me</a> kaudu. Võid ka muudel põhjustel kirjutada!
</p>

<h2>Lähtekood</h2>
<p>
  See lehekülg on <a href="https://en.wikipedia.org/wiki/Affero_General_Public_License">AGPLv3</a> litsentsi all ning
  selle lähtekood on saadaval meie <a href="https://codeberg.org/glugtartu/glug.ee">Codebergis</a>.
</p>
