<h1>Contact</h1>
<h2>Email</h2>
<p>You can get in touch with us via email: <a href="mailto:glugtartu@pm.me">glugtartu@pm.me</a>.</p>
<h2>Matrix</h2>
<p>
  We mainly discuss in our Matrix space:
  <a href="https://matrix.to/#/#glug-tartu:matrix.org">https://matrix.to/#/#glug-tartu:matrix.org</a>.
</p>
<p>Feel free to join!</p>
