@font-face {
    font-family: FreeSans;
    src: url(FreeSans.woff) format('woff');
}
@font-face {
    font-family: FreeSans;
    font-weight: 700;
    src: url(FreeSansBold.woff) format('woff');
}
@font-face {
    font-family: FreeSerif;
    src: url(FreeSerif.woff) format('woff');
}
@font-face {
    font-family: FreeSerif;
    font-weight: 700;
    src: url(FreeSerifBold.woff) format('woff');
}
@font-face {
    font-family: FreeMono;
    src: url(FreeMono.woff) format('woff');
}
@font-face {
    font-family: FreeMono;
    font-weight: 700;
    src: url(FreeMonoBold.woff) format('woff');
}
