html,
body {
  margin: 0;
  font-family: FreeSans;
  background-color: #eee;
}
body {
  display: flex;
}

main {
  padding: 2rem;
  box-sizing: border-box;
}
main h1:first-child {
  margin-top: 0;
}
aside {
  background-color: #ddd;
  border-right: 3px solid #bbb;
  min-height: 100vh;
  text-align: center;
  width: 16rem;
}
.logo {
  width: 14rem;
  margin: 2rem 1rem 1rem;
}
nav {
  margin: 1rem 0;
}
nav a {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
  text-decoration: none;
  color: #008;
  font-size: 1.2rem;
}
nav a:hover {
  color: #008;
  text-decoration: underline;
}
nav a:visited {
  color: #008;
}
footer {
  padding: 2rem 1rem 1rem;
  text-align: center;
  color: #008;
  font-family: FreeMono;
}

header {
  background-color: #ddd;
  display: none;
  text-align: center;
  border-bottom: 3px solid #bbb;
}

#toilet {
  font-family: FreeMono;
  font-size: 0.69rem;
  color: #008;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #008;
}
section h1 {
  font-size: 2em;
}
a {
  color: #00f;
  text-decoration: none;
}
a:visited {
  color: #808;
}
a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 720px) {
  main {
    width: 100%;
  }
  body {
    flex-direction: column-reverse;
  }
  aside {
    width: 100%;
    border: none;
    border-top: 3px solid #bbb;
    min-height: auto;
  }
  nav a {
    text-align: center;
  }
  header {
    display: block;
  }
  aside .logo {
    display: none;
  }
}
