<h1>Tartu GNU/Linux User Group</h1>

<h2>Welcome to the homepage of GLUG Tartu!</h2>
<p>
  We are a small community of GNU/Linux fans and free software enthusiasts in Tartu. We engage with free software,
  federated services, online privacy etc.
</p>
<p>We are taking it easy right now, but we plan on actively finding new members and organizing events in the future.</p>

<h2>What we do</h2>
<p>
  Currently we're just discussing things and sharing memes in our
  <a href="https://matrix.to/#/#glug-tartu:matrix.org">Matrix group</a>, but in the future we have some plans:
</p>
<ul>
  <li>Meeting up and discussing free software related topics.</li>
  <li>Trying out and actively using different free software solutions.</li>
  <li>Developing and supporting free software projects.</li>
  <li>
    LAN parties with free software games: <a href="http://www.openarena.ws/smfnews.php">OpenArena</a>,
    <a href="https://www.minetest.net/">Minetest</a>, <a href="https://www.teeworlds.com/">TeeWorlds</a>,
    <a href="https://supertuxkart.net/Main_Page">SuperTuxKart</a> etc.
  </li>
</ul>
<h2>Get in touch and join us!</h2>
<p>
  If what we do sounds interesting to you, get in touch via email: <a href="mailto:glugtartu@pm.me">glugtartu@pm.me</a>.
  Feel free to write for other reasons as well!
</p>

<h2>Source code</h2>
<p>
  This website is licensed under <a href="https://en.wikipedia.org/wiki/Affero_General_Public_License">AGPLv3</a> and
  the source code is available in our <a href="https://codeberg.org/glugtartu/glug.ee">Codeberg</a>.
</p>
